/* App.css - Global styles for dark mode */
body {
	background-color: #121212;
	color: #e0e0e0;
	font-family: "Arial", sans-serif;
	user-select: text;
}

input,
textarea {
	background-color: #333;
	color: #fff;
	border: 1px solid #555;
	::placeholder {
		color: #bbb;
		opacity: 1;
	}
	:-ms-input-placeholder {
		color: #bbb;
	}
	::-ms-input-placeholder {
		color: #bbb;
	}
}

input:focus,
textarea:focus {
	border-color: #888;
}

button {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

button:hover {
	background-color: #555;
}
